<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <title>Home page</title>
</head>
<body>
<div class="grid-container">

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1 id="heading">Greet Application</h1>
        </div>
      </div>

            <div class="grid-x grid-padding-x">
        <div class="large-12 cell">

      <form action="/greet" method="POST">
  <div class="sign-in-form">
    <h4 class="text-center">{{greetname}}</h4>
    <label for="sign-in-form-username">Name</label>
    <input type="text" class="sign-in-form-username" id="sign-in-form-username" name ="username" required>

    <div class="polls">
  <h5 class="polls-question">
    <span class="polls-question-label"></span>
    Select a language.
  </h5>
  <div class="polls-options grid-x grid-padding-x">

    <div class="large-4 medium-4 cell">
      <input type="radio" name="language" value="ENGLISH" id="languageEnglish" required>
      <label for="languageEnglish">English</label>
    </div>

    <div class="large-4 medium-4 cell">
      <input type="radio" name="language" value="AFRIKAANS" id="languagefrikaans" required>
      <label for="languageAfrikaans">Afrikaans</label>
    </div>

    <div class="large-4 medium-4 cell">
      <input type="radio" name="language" value="JAPANESE" id="languageJapanese" required>
      <label for="languageJapanese">Japanese</label>
    </div>

  </div>
</div>


    <button type="submit" class="sign-in-form-button">Greet</button>
  </div>
</form>

<div class="grid-x grid-padding-x align-justify sub">
 <div class="sign-in-form large-5 medium-5cell">
  <table class="responsive-card-table unstriped">
  <thead>
    <tr>
      <th>User</th>
      <th>Total Greets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each userlist}}
    <tr>
      <td data-label="First Name">{{@key}}</td>
      <td data-label="Last Name">{{this}}</td>
       <td ><a href="/delete/{{@key}}" id="delete">Delete</a></td>
    </tr>
    {{/each}}

  </tbody>
</table>
 </div>

  <div class="sign-in-form large-5 medium-5 cell">
   <ul class="stats-list">
  <li>
    {{totalgreets}} <span class="stats-list-label">Total Greets</span>
  </li>
  <li>
    {{totalusers}} <span class="stats-list-label">Total Users</span>
  </li>
</ul>
 </div>
 </div>

        </div>
      </div>

</div>

<script src="/js/app.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
</body>
</html>